/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap'); */
:root{
	--error: rgb(255, 139, 139);
}
* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.top, .center {
	display: flex;
	flex-flow: row;
}

.input-form > * {
	display: block;
}
.center {
	display: flex;
	width: 100%;
}

.left-sidebar {
	margin: 5px;
	width: 200px;
}
.center .content {
	width: 100%;
}
.center .content .table-container {
	max-height: 70vh;
	height: auto;
	overflow-y: auto;
}

.center .content textarea{
	width: 100%;
	resize: none;
}
.bottom {
	margin: 10px;
}
